{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Revenge Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    {% include "navi.html" %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/home2.png' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Revenge Blog</h1>
                        <hr class="long">
                        <span class="subheading">前回失敗したがもう一度ブログを作ってみたい</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        {% if messages %}
            <ul class="list-unslyted">
                {% for message in messages %}
                    <li{% if message.tags %}
                        class="bg-{% if message.tags == "error" %}danger{% else %}{{message.tags}}{% endif %} alert"{% endif %}
                        style="list-style: none"> <!-- 黒ポチをなくす -->

                        {{ message }}

                        <button type = "button" class="close" aria-lavel=""Close data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block body %}{% endblock %}
        {% block extrajs %}{% endblock %}
    </div>

    <hr>

    <!-- Footer -->


    <!-- jQuery -->
    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "vendor/bootstrap/js/bootstrap.min.js"%}'></script>

    <!-- Contact Form JavaScript -->

    <!-- Theme JavaScript -->
    <script src='{% static "js/clean-blog.min.js" %}'></script>

</body>

</html>
