{% extends "base.html" %}


{% block body %}

{% if is_paginated %}

<nav aria-label="Page navigation">
    <ul class="pagination">

        <!-- 前ページがあれば送るボタン -->

        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous"><span
                    aria-hidden="true">«</span></a>
        </li>
        {% else %}
        <li class="disable">
            <a href="#" aria-label="Previous">«</a>
        </li>
        {% endif %}
        {% for page in paginator.page_range %}
        <li{% if page == page_obj.number %} class="active" {% endif %}>
            <a href="?page={{page}}">{{page}}</a>
        </li>
        {% endfor %}
        <!-- 次ページがあれば送るボタン -->
        {% if page_obj.has_next %}
        <li>
            <a href="?page={‌{page_obj.next_page_number}}" aria-label="Next"><span aria-hidden="true">»</span></a>
        </li>
        {% else %}
        <li class="disable">
            <a href="#" aria-label="Previous">»</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% for obj in blogs %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <a href= "{% url 'detail' obj.pk %}">
                <h2 class="post-title">
                    <br>
                        {{obj.content}}
                </h2>
            </a>
            <p class="post-meta">Posted by <a href="#">{{obj.posted_date|date:"Y/m/d h:m:s"}}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}