{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <a href=int:pk>
                <h2 class="post-title">
                    {{blog.content}}
                </h2>
            </a>
            <p class="post-meta">Posted by <a href="#">{{object.posted_date|date:"Y/m/d h:m:s"}}</p>
            <a href="{% url 'update' object.pk %}" class="btn btn-primary">編集</a>
            <a href="{% url 'delete' object.pk %}" class="btn btn-danger">削除</a>
        </div>
    </div>
{% endblock %}