

{% extends "base.html" %}
{% block body %}

    <h1>編集</h1>

<form method="POST">{% csrf_token %}
    <table class="table">
        {{ form }}
    </table>
    <button type="submit">送信</button>
</form>
{% endblock %}