{% extends 'base.html' %}

{% block body %}
<form action="" method="POST" enctype='multipart/form-data'>
<canvas id="canvas" width="140" height="140"></canvas>
<hr>
<input type="hidden" name="img-src" value="" id="img-src">
<input type="button" class="btn btn-outline-primary btn-lg" id="send" value="送信する">
{% csrf_token %}
</form>

<div class="container">
  <!-- ナビバー -->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'upload' %}">アップロード</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'paint' %}">お絵かき</a>
    </li>
  </ul>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock %}

{% block extrajs %}



<script>
  // キャンバスを操作するためのオブジェクトを取得
  var canvas = document.getElementById("canvas");
  var ctx = canvas.getContext("2d");
  
  // キャンバスを黒く塗りつぶす
  ctx.fillStyle = '#000';
  ctx.fillRect(0, 0, 140, 140);
  
  ctx.lineCap = 'square';  // 四角い形の線
  ctx.strokeStyle = '#fff';  // 白い線
  ctx.lineWidth = 13;  // 線の幅
  var draw = false;  // クリック中かのフラグ
  
  // マウスが動いたときに呼び出される
  canvas.addEventListener("mousemove",function(e) {
    var rect = e.target.getBoundingClientRect();
    mouseX = e.clientX - rect.left;
    mouseY = e.clientY - rect.top;
  
    if(draw) {
      ctx.beginPath();
      ctx.moveTo(mouseX1,mouseY1);
      ctx.lineTo(mouseX,mouseY);
      ctx.stroke();
      mouseX1 = mouseX;
      mouseY1 = mouseY;
    }
  });
  
  // クリックで呼び出される
  canvas.addEventListener("mousedown",function(e) {
    draw = true;
    mouseX1 = mouseX;
    mouseY1 = mouseY;
  });
  
  // クリックを離されると呼び出される
  canvas.addEventListener("mouseup", function(e){
    draw = false;
  });
  
  
  // 送信ボタンで呼び出される
  $('#send').on('click',function(e){
      var form = $(this).parents('form');
      var src = canvas.toDataURL('image/png');
      $('#img-src').val(src);
      form.submit();
  });
  </script>
{% endblock %}