{% extends 'base.html' %}
{% block body %}

<h1>画像AI</h1>

<p>添付された画像が「猿」「猪」「カラス」「男」「女」の5種類のいずれに分類されるかkerasを利用して判定しています。</p>
<form action="" method="POST" enctype='multipart/form-data'>
  {{ form.file }}<hr>
  {% csrf_token %}
  <input type="submit" class="btn btn-outline-primary btn-lg" value="送信する">
</form>
{% endblock %}