{% extends "base.html" %}


{% block body %}
<a href="{% url 'month' month.previous.year month.previous.month %}">前月</a>
{{ month.current | date:"Y年m月" }}
<a href="{% url 'month' month.next.year month.next.month %}">次月</a>
<table class="table">
  <thead>
    <tr>
      {% for w in month.week_names %}
        <th>{{ w }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for week in month.days %}
      <tr>
        {% for day in week %}
          {% if month.now == day %}
            <td class="bg-primary">
          {% else %}
            <td>
          {% endif %}

          {% if month.now == day %}


          {% endif %}

          {% if month.current.month != day.month %}
          <font face="メイリオ">{{ day.day }}</font>

          {% else %}
          <font face="メイリオ">{{ day.day }}</font>

          {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}